{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Logo -->
    <a href="{% url 'dashboard' %}" class="brand-link text-center">
      <img src="{% static 'core/adminlte/dist/img/Logo_Autodicol.png' %}" alt="Logo" class="brand-image">
      <span class="brand-text font-weight-light">Autodicol</span>
    </a>
  
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Menú -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>Dashboard</p>
            </a>
          </li>
  
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-list"></i>
              <p>Estados</p>
            </a>
          </li>
  
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-boxes"></i>
              <p>Inventario</p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
</aside>
  